// Variáveis
$primary-color: #acdc08;
$transparent: transparent;

// Estilos
.mask {
  mask-size: 100% 100%;
  mask-image: radial-gradient(
    50% at 50% 50%,
    $primary-color 0%,
    $transparent 100%
  );
}

.gradient {
  background: radial-gradient(
        ellipse 50% 50% at 50% 50%,
        $primary-color,
        $primary-color
      );
  width: 400%;
  height: 400%;
  left: -150%;
  top: -150%;
  transform: rotate(0deg);
  transform-origin: center;
}

.dots {
  background-image: radial-gradient($primary-color 1px, $transparent 1px);
  background-size: 10px 10px;
}
